@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  place-content: center;
  overflow-x: hidden;
  padding: 10px;
  font-family: "Outfit", sans-serif;
}

.container {
  margin: auto;
  width: 325px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  gap: 1.5rem;
}
.container img {
  width: 290px;
  max-width: 100%;
  border-radius: 10px;
}
.container .text {
  text-align: center;
  font-family: "Outfit", sans-serif;
}
.container .text h1 {
  font-size: 22px;
  margin-bottom: 10px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}
.container .text p {
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
